body {
  background-color: black;
  padding: 0 50px;
}

.header-hero {
  background-color: #1F2937; 
  display: flex;
  flex-direction: column;
  padding: 10px 60px 60px 60px;
}

.header {
  display: flex;
  justify-content: space-between;
}


.logo {
  color:#F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

a {
  text-decoration: none;
  color:#F9FAF8;
}

.title {
  font-size: 48px;
  font-weight:bolder;
  color: #F9FAF8;
}

.hero {
  display: flex;
}

.title-desc {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-grow: 1;
  /* background-color: red; */
}

button {
  background-color: #3882F6;
}

.main-image {
  display: flex;
  width: 700px;
  background-color: gray;
}

