body {
  background-color: black;
  padding: 0 50px;
}

.header-hero {
  background-color: #1F2937; 
  display: flex;
  flex-direction: column;
  padding: 10px 60px 60px 60px;
  gap: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
}


.logo {
  color:#F9FAF8;
  font-size: 24px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  display: flex;
}

.title-desc {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.hero-title {
  font-size: 48px;
  font-weight:bolder;
  color: #F9FAF8;
  
}

.title-desc .description {
  font-size: 18px;
  color: #E5E7EB;
}

.title-desc button {
  background-color: #3882F6;
  border-radius: 5px;
  width: 90px;
}

.main-image {
  display: flex;
  width: 700px;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

.info {
  background-color: white; 
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 35px;
}

.info-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  display: flex;
  justify-content: center;
}

.illustrations {
  display: flex;
  flex-direction: row;
  display: flex;
  /* background-color: red; */
  justify-content: center;
  gap: 30px;
}

.illustrations illustration {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* align-items: center; */
  /* background-color: red; */
}

.box {
  border-radius: 10px;
  border: 2px solid #2134ad;
  padding: 20px;
  width: 90px;
  height: 90px;
}

.subtext {
  display: flex;
  width: 130px;
  flex-wrap: wrap;
  font-size: 15px;
}



.quote {
  background-color: #E5E7EB;
  padding:90px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.quote .text {
  font-size: 36px;
  font-style: light italic;
  color: #1F2937;
  font-style: italic;
}

.quote .quotee {
  display: flex;
  align-self:flex-end;
  font-size: 15px;
  font-weight: bold;
}





/* 
.footer {
  background-color: #E5E7EB; 
}

.sign-up button {

}
 */
